<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>MyPlaylist</title>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/user-dashboard.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/music-player.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/music-room.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/discover.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/activation-failed.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin-panel.css}">
  <script th:src="@{/js/jquery-3.7.1.slim.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script src="https://kit.fontawesome.com/08b39fed13.js" crossorigin="anonymous"></script>
  <script th:src="@{/js/userRegister.js}"></script>
</head>
<body>

</body>
</html>