<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error 500 - Internal Server Error</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/error-page.css}" type="text/css">
</head>
<body class="text-center">
<div class="container">
    <div class="row justify-content-center align-items-center" >
        <div class="col-md-6">
            <img th:src="@{/images/broken-record-png.png}" alt="Broken Record" class="broken-record img-fluid mx-auto">
            <h1 class="error-message">Oops! Something went terribly wrong.</h1>
            <p class="error-details">
                We're experiencing some technical issues. We apologize for the inconvenience and are working to fix it.
            </p>
            <p th:text="${errorMessage}"></p>
            <a th:href="@{/users/dashboard}" class="btn btn-primary">Go to Homepage</a>
        </div>
    </div>
</div>
</body>
</html>
