<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body class="d-flex justify-content-center align-items-center">
<div class="container activation-container">
    <h1 class="activation-header">Account Activation Failed</h1>
    <p th:if="${activationError}" th:text="${activationError}" class="custom-warning">
        <!-- Activation error message will be displayed here -->
    </p>
    <p class="activation-text">We sincerely apologize for the inconvenience caused.
        Unfortunately, there seems to have been an issue with your registration process.
        Please kindly attempt to register again after 12 hours.
        We appreciate your understanding and patience in this matter.
        Thank you.
        If you have any questions, don't hesitate to contact us click the link down bellow.
    </p>
    <a href="contact.html" class="contact-button">Contact Us</a> <!-- Contact Us button -->
    <br>
</div>
</body>
</html>
