<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>
<nav th:replace="~{fragments/nav-bar}"></nav>
<div class="container mt-4">
    <h1>Report Management</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Reason</th>
                <th>Comment Text</th>
                <th>Reported By</th>
                <th>Comment Author</th>
                <th>Reported On</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="report : ${reports}">
                <td th:text="${report.commentEntity.id}">1</td>
                <td th:text="${report.description}">Description</td>
                <td th:text="${report.reason}">Reason</td>
                <td th:text="${report.commentEntity.textContent}">Comment Text</td>
                <td th:text="${report.reportedBy.username}">Reporter's Username</td>
                <td th:text="${report.commentEntity.user.username}">Comment Author's Username</td>
                <td th:text="${#temporals.format(report.reportedOn, 'dd-MM-yyyy HH:mm')}">Reported On</td>
                <td>
                    <form th:action="@{/admin/reports/deleteComment/{commentId}(commentId=${report.commentEntity.id})}"
                          method="post"
                          class="delete-form">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-secondary btn-sm">Delete Comment</button>
                    </form>
                    <form th:action="@{/admin/reports/clearReport/{reportId}(reportId=${report.id})}"
                          method="post"
                          class="delete-form">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-secondary btn-sm">Clear Report</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container mt-4">
    <h1>Role Management</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Current Role</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">1</td>
                <td th:text="${user.username}">Username</td>
                <td>
                    <span th:each="role : ${user.roles}" th:text="${role.role} + ' '"></span>
                </td>
                <td>
                    <form th:action="@{/admin/action}" method="post">
                        <input type="hidden" name="userId" th:value="${user.id}" />
                        <input type="hidden" name="addRoleId" th:id="'hiddenAddRoleId' + ${user.id}" value=""/>
                        <input type="hidden" name="removeRoleId" th:id="${'hiddenAddRoleId' + user.id}" value=""/>
                        <div class="dropdown-container-admin">
                        <select name="action"
                                th:id="'actionSelect' + ${user.id}"
                                th:onchange="'handleActionChange(this.value, ' + ${user.id} + ')'">
                            <option value="">Select Action</option>
                            <option value="addRole">Add Role</option>
                            <option value="removeRole">Remove Role</option>
                        </select>
                        <select name="addRoleId"
                                th:id="'addRoleSelect' + ${user.id}"
                                style="display:none;"
                                th:attr="onchange=|updateHiddenInput('add', this.value, ${user.id})|">
                            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
                        </select>
                        <select name="removeRoleId"
                                th:id="'removeRoleSelect' + ${user.id}"
                                style="display:none;"
                                th:attr="onchange=|updateHiddenInput('remove', this.value, ${user.id})|">
                            <option th:each="role : ${user.roles}" th:value="${role.id}" th:text="${role.role}"></option>
                        </select>
                        </div>
                        <button type="submit">Perform Action</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>

    function updateHiddenInput(actionType, value, userId) {
        console.log("Function called with actionType:", actionType);
        console.log("Function called with value:", value);
        console.log("Function called with userId:", userId);

        console.log("Function called: ", actionType, value, userId); // This will log the values to the console
        if(actionType === 'add') {
            console.log("Setting hiddenAddRoleId value to:", value);
            document.getElementById('hiddenAddRoleId' + userId).value = value;
        } else if(actionType === 'remove') {
            console.log("Setting hiddenRemoveRoleId value to:", value);
            document.getElementById('hiddenRemoveRoleId'+ userId).value = value;
        }
    }
    function handleActionChange(action, userId) {
        document.getElementById('addRoleSelect' + userId).style.display = action === 'addRole' ? 'inherit' : 'none';
        document.getElementById('removeRoleSelect' + userId).style.display = action === 'removeRole' ? 'inherit' : 'none';
    }

</script>

</body>
</html>