<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>
<body>

<div class="wrapper">
    <nav th:replace="~{fragments/nav-bar}"></nav>
    <div class="container mt-5">

        <form th:action="@{/discover/search}" method="get" class="d-flex justify-content-end mb-4">
            <div class="input-group">
                <input type="text" class="form-control"  th:value="${query}" name="query" placeholder="Search playlists..." aria-label="Search playlists">
                <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i> Search</button>
            </div>
        </form>
        <div class="col-md-12">
                <h2>Find out what if best for you</h2>
                <!-- Playlists Container -->
                <div class="row">
                    <th:block th:each="playlist : ${playlist}">
                        <div class="col-md-3 mb-4">
                            <div class="card h-100 shadow-sm">
                                <!-- Playlist Image -->
                                <div class="image-wrapper">
                                    <img th:src="${playlist.getPictureUrl() != null and !playlist.getPictureUrl().isEmpty() ? playlist.pictureUrl : '/playlist-images/default.jpg'}" class="card-img-top" alt="Playlist Cover">
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${playlist.getName()}">Playlist Name</h5>
                                    <p class="playlist-genre">Genre: <span th:text="${playlist.genre}">Playlist Description</span></p>
                                    <p class="playlist-description" th:text="${playlist.description}">Playlist Description</p>
                                    <!-- Songs List -->
                                    <div>
                                        <h6>Songs in this playlist:</h6>
                                        <hr class="song-separator">
                                        <ul class="list-unstyled song-list" th:if="${playlist.songs.size() > 0}">
                                            <li th:each="song, stat : ${playlist.songs}"
                                                class="mb-2 song-item"
                                                th:data-file-path="${song.filePath}"
                                                th:data-formatted-duration="${song.formattedDuration()}">
                                                <span th:text="${song.artist}">Artist Name</span> -
                                                <span th:text="${song.title}">Song Title</span> -
                                                <span th:text="${song.formattedDuration()}">Time</span>
                                                <hr class="song-separator">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Card Footer -->
                                <div class="card-footer">
                                    <div class="footer-content d-flex justify-content-between">
                                        <div class="left-content">
                                            <div class="likes-dislikes">
                                     <span class="likes">
                                     <i class="fa fa-thumbs-up"></i>
                                       <span th:id="'likeCount_' + ${playlist.id}"
                                             th:text="${playlist.likeCount}">0</span></span>
                                                <span class="dislikes">
                                        <i class="fa fa-thumbs-down"></i>
                                        <span th:id="'dislikeCount_' + ${playlist.id}"
                                              th:text="${playlist.dislikeCount}">0</span></span>
                                            </div>
                                            <p class="creator-name">Created by: <span th:text="${playlist.user.username}">Username</span>
                                            </p>
                                        </div>
                                        <div class="right-content">
                                            <p class="song-count" th:text="${playlist.songs.size() + ' Songs'}">Songs</p>
                                            <a href="#" th:href="@{/play/playlists/{id}(id=${playlist.id})}"
                                               class="btn btn-primary btn-sm">
                                                <i class="fa fa-play"></i> Listen, Rate, Comment
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <!-- Pagination Controls -->
                <nav aria-label="Playlist pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${playlist.first ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/discover/more(page=${playlist.number - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="pageNum : ${#numbers.sequence(0, playlist.totalPages - 1)}" class="page-item" th:classappend="${pageNum == playlist.number ? 'active' : ''}">
                            <a class="page-link" th:href="@{/discover/more(page=${pageNum})}" th:text="${pageNum + 1}">1</a>
                        </li>
                        <li class="page-item" th:classappend="${playlist.last ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/discover/more(page=${playlist.number + 1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>
</html>