<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>

<body>
<div class="wrapper">
    <nav th:replace="~{fragments/nav-bar}"></nav>
    <header >
        <h1 class="header-title">Welcome to MyPlaylist.org</h1>
        <p class="header-description">Your favorite music corner</p>
        <th:block sec:authorize="isAuthenticated()">
            <th:block th:text="${#authentication.principal.displayUsername}"></th:block>
        </th:block>
        <th:block sec:authorize="!isAuthenticated()">
            Anonymous!
        </th:block>
    </header>

    <section class="container my-10">
        <h2 class="text-center mb-4 text-white">If you want to explore more please Sign in or Sign up</h2>
        <div class="row">
            <div class="align-content-center w-50 mx-auto">
                <div class="card">
                    <img src="/images/ne22wl.png" class="card-img-top" alt="...">
                    <div class="card-body bg-light-subtle">
                        <h5 class="card-title">Welcome!</h5>
                        <p class="card-text">Access your personalized playlists by signing in or registering:</p>
                        <a th:href="@{/users/login}" class="btn custom">Sign In</a>
                        <a th:href="@{/users/register}" class="btn custom-secondary">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Wrapper Ends -->'
<footer class="footer bg-blur">
    <div class="container text-center">
        <p>&copy; 2023 MyPlaylist.org. All rights reserved.</p>
        <p>Privacy Policy | Terms of Use</p>
    </div>
</footer>
</body>

</html>