<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}">
</head>

<body>
<div class="wrapper">
    <nav th:replace="~{fragments/nav-bar}"></nav>
    <header >
        <h1 class="header-title">Welcome to MyPlaylist.org</h1>
        <p class="header-description">Your favorite music corner</p>
        <th:block sec:authorize="isAuthenticated()">
            <th:block th:text="${#authentication.principal.displayUsername}"></th:block>
        </th:block>
        <th:block sec:authorize="!isAuthenticated()">
            Anonymous!
        </th:block>
    </header>
</div>
<!-- Wrapper Ends -->'
<footer class="footer bg-blur">
    <div class="container text-center">
        <p>&copy; 2023 MyPlaylist.org. All rights reserved.</p>
        <p>Privacy Policy | Terms of Use</p>
    </div>
</footer>
</body>

</html>