<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>
<body>

<nav th:replace="~{fragments/nav-bar}"></nav>
<div class="container mt-4">
    <div class="row">
        <!-- Playlist Information -->
        <div class="col-md-4">
            <div class="card h-100 playlist-card">
                <div class="image-wrapper">
                    <img th:src="${playlist.getPictureUrl() != null and !playlist.getPictureUrl().isEmpty() ? playlist.pictureUrl : '/playlist-images/default.jpg'}"
                         class="card-img-top"
                         alt="Playlist Cover">
                </div>
                <hr class="song-separator">
                <div class="card-body">
                    <h5 class="text-center card-title" th:text="${playlist.getName()}">Playlist Name</h5>
                    <p class="vertical-separator"></p>
                    <p class="playlist-description" th:text="${playlist.description}">Playlist
                </div>


                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <div class="left-content">
                                  <span class="likes">
                                   <i class="fa fa-thumbs-up"></i>
                                  <span th:id="'likeCount_' + ${playlist.id}" th:text="${playlist.likeCount}">0</span> Likes
                            <span class="dislikes">
                                    <i class="fa fa-thumbs-down"></i>
                                    <span th:id="'dislikeCount_' + ${playlist.id}" th:text="${playlist.dislikeCount}">0</span> Dislikes
                            <p>Created by: <span th:text="${playlist.user.username}">Username</span></p>
                        </div>
                        <div class="right-content">
                            <button th:onclick="'loadPlaylist(' + ${playlist.id} + ')'"
                               class="btn btn-primary btn-sm">
                                <i class="fa fa-play"></i> Play
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Song List -->
        <div class="col-md-6">
            <ul class="list-group song-list">
            <li class="list-group-item" th:each="song, iterator : ${playlist.songs}">
                    <span th:text="${iterator.count + '.' + ' ' + song.artist}">Artist Name</span> -
                    <span th:text="${song.title}">Song Title</span>
                    <span th:text="${song.formattedDuration() + ' min'}">Time</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- Rating and Comment Section -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Rate this Playlist</h3>
            <button th:id="likeButton_ + ${playlist.id}"
                    class="btn btn-success"
                    th:attr="onclick='ratePlaylist(' + ${playlist.id} + ', \'LIKE\')'">Like</button>
            <button th:id="dislikeButton_ + ${playlist.id}"
                    class="btn btn-danger"
                    th:attr="onclick='ratePlaylist(' + ${playlist.id} + ', \'DISLIKE\')'">Dislike</button>

            <!-- User Comments -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 mt-4">
                        <h3>Comments</h3>
                        <form th:action="@{/comments/create}"
                              th:object="${commentBindingModel}"
                              method="post">
                            <input type="hidden" name="playlistId" th:value="${playlist.id}">
                            <input type="hidden" name="userId" th:value="${playlist.user.id}">
                            <textarea class="form-control" rows="3" th:field="*{textContent}" name="textContent" placeholder="Write a comment..."></textarea>
                            <small id="messageError" class="invalid-feedback visible-error" th:if="${#fields.hasErrors('textContent')}" th:errors="*{textContent}">
                                Comment can't be empty
                            </small>
                            <input type="submit" class="btn btn-primary mt-2" value="Submit Comment">
                        </form>
                    </div>
                </div>
            </div>


            <!-- Display Comments -->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 comments mt-4">
                        <div th:each="comment : ${comments}" class="card mb-2">
                            <div class="card-body">
                                <!-- Displaying the username -->
                                <h6 class="card-subtitle mb-2 text-muted" th:text="${comment.user.username}">Username</h6>

                                <!-- Displaying the comment text -->
                                <p class="card-text" th:text="${comment.textContent}">User comment...</p>

                                <!-- Displaying the creation date -->
                                <small class="text-muted" th:text="${#temporals.format(comment.createdOn, 'dd-MM-yyyy HH:mm')}">Date</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="music-player mb-5" id="musicPlayer">
    <img th:src="@{/images/ne22wl.png}" class="img-fluid" alt="PlayerPicture">
    <div class="dash">
        <a href="#mute" class="fa fa-volume-up"></a>
        <span class="volume-level">
			        <em style="width: 75%"></em></span>
        <div class="seeker">
            <div class="wheel">
                <div class="progress"></div>
                <!-- Draggable Dot -->
                <div id="progressDot" class="progress-dot"></div>
            </div>
        </div>
        <div class="controls">
            <a href="#back" class="fa fa-fast-backward"></a>
            <a href="#play" class="fa fa-pause"></a>
            <a href="#forward" class="fa fa-fast-forward"></a>
        </div>
        <div class="info">
            <i><span name="current">0:00</span> / <span name="duration">0:00</span></i>
            <label></label>
            <small></small>
        </div>
    </div>
</div>

<script th:src="@{/js/music-room.js}"></script>
<script th:src="@{/js/lib/howler.core.min.js}"></script>
<script th:src="@{/js/newPlayer.js}"></script>
</body>
</html>