<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MyPlaylist</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user-dashboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/music-player.css}">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:src="@{/js/jquery-3.7.1.slim.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://kit.fontawesome.com/08b39fed13.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="wrapper">
    <nav th:replace="~{fragments/nav-bar}"></nav>
    <div class="container mt-5">
        <!-- Personalized Welcome Message -->
        <h2 th:text="'Hello, ' + ${#authentication.principal.displayUsername} + '!'">Hello, User!</h2>
        <!-- User Profile Overview & Quick Actions -->
        <div class="row mt-4">
            <div class="col-md-3">
                <img th:src="@{/images/avatar-default-icon.png}" alt="User Profile Picture"
                     class="img-fluid rounded-circle" style="width: 50%;"/>
                <small th:if="${successMessage}" class="alert alert-success">
                    <span th:text="${successMessage}"></span>
                </small>
                <p class="mt-2"><strong>Playlists:</strong> <span th:text="${playlist.totalElements}">0</span></p>
                <p><strong>Songs Added:</strong> <span th:text="${songsCount}">50</span></p>
                <a href="/playlist/create" class="btn btn-primary mt-3">Create a New Playlist</a>
            </div>

            <div class="col-md-9">
                <!-- User's Playlists -->
                <h4>Your Playlists</h4>
                <div class="row">
                    <!--try with Pagable playlistrs.getContent-->
                    <th:block th:each="playlist : ${playlist}">
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="image-wrapper">
                                    <img th:src="${playlist.getPictureUrl() != null and !playlist.getPictureUrl().isEmpty() ? playlist.pictureUrl : '/playlist-images/default.jpg'}"
                                         class="img-fluid" alt="Playlist Cover">
                                </div>
                                <h5 class="card-title" th:text="${playlist.getName()}">Playlist Name</h5>
                                <div class="dropdown">
                                    <button class="dropbtn">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </button>
                                    <div class="dropdown-content">
                                        <a th:href="@{/playlist/create/{id}(id=${playlist.id})}">Edit</a>
                                        <form th:class="'image-upload-form'"
                                              th:action="@{/users/dashboard/upload-image/{id}(id=${playlist.id})}"
                                              method="post"
                                              enctype="multipart/form-data"
                                              th:data-playlist-id="${playlist.id}">
                                            <input type="file" th:id="'picture' + ${playlist.id}" name="picture" style="display: none;">
                                            <label th:for="'picture' + ${playlist.id}" class="link-style-button">Upload Image</label>
                                            <button type="submit" style="display: none;">Submit</button>
                                        </form>
                                        <form th:action="@{/users/dashboard/deletePlaylist/{id}(id=${playlist.id})}"
                                              method="post"
                                              class="delete-form">
                                            <input type="hidden" name="_method" value="delete"/>
                                            <button type="submit" class="link-style-button">Delete</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!-- Display playlist picture or default picture -->
                                    <p class="playlist-description" th:text="${playlist.description}">Playlist
                                        Description</p>
                                    <div>
                                        <h6>Songs in this playlist:</h6>
                                        <ul class="list-unstyled song-list" th:if="${playlist.songs.size() > 0}">
                                            <!-- Display songs with conditional visibility for those beyond the first three -->
                                            <li th:each="song, stat : ${playlist.songs}"
                                                th:classappend="${stat.count > 3} ? 'hidden' : ''"
                                                class="mb-2 song-item"
                                                th:data-file-path="${song.filePath}"
                                                th:data-formatted-duration="${song.formattedDuration()}">

                                                <span th:text="${song.artist}">Artist Name</span>
                                                <span class="highlight">-</span>
                                                <span th:text="${song.title}">Song Title</span>
                                                <span th:text="${song.formattedDuration()}">Time</span>
                                                <hr class="song-separator">
                                            </li>
                                        </ul>
                                        <!-- Show More link -->
                                        <a href="#" th:if="${playlist.songs.size() > 3}" class="show-more"
                                           onclick="toggleHiddenSongs()">... and more</a>
                                    </div>
                                </div>
                            </div>
                            <button th:onclick="'loadPlaylist(' + ${playlist.id} + ')'">Play Playlist</button>
                            <div class="card-footer">
                                <div class="ratings">
                               <span class="likes" th:attr="onclick='ratePlaylist(' + ${playlist.id} + ', \'LIKE\')'">
                                  <i class="fa fa-thumbs-up"></i>
                                 <span th:id="'likeCount_' + ${playlist.id}" th:text="${playlist.likeCount}">0</span> Likes
                               </span>
                               <span class="dislikes" th:attr="onclick='ratePlaylist(' + ${playlist.id} + ', \'DISLIKE\')'">
                                  <i class="fa fa-thumbs-down"></i>
                                <span th:id="'dislikeCount_' + ${playlist.id}" th:text="${playlist.dislikeCount}">0</span> Dislikes
                               </span>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <!--   Music Player      -->
            <div class="music-player mb-5" id="musicPlayer">
                <img th:src="@{/images/ne22wl.png}" class="img-fluid" alt="PlayerPicture">
                <div class="dash">
                    <a href="#mute" class="fa fa-volume-up"></a>
                    <span class="volume-level">
			        <em style="width: 75%"></em></span>
                    <div class="seeker">
                        <div class="wheel">
                            <div class="progress"></div>
                            <!-- Draggable Dot -->
                            <div id="progressDot" class="progress-dot"></div>
                        </div>
                    </div>
                    <div class="controls">
                        <a href="#back" class="fa fa-fast-backward"></a>
                        <a href="#play" class="fa fa-pause"></a>
                        <a href="#forward" class="fa fa-fast-forward"></a>
                    </div>
                    <div class="info">
                        <i><span name="current">0:00</span> / <span name="duration">0:00</span></i>
                        <label></label>
                        <small></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Loading Overlay -->
<div id="loadingOverlay">
    <div>
        <i class="fas fa-music spinner-icon"></i>
        <p>Uploading, please wait...</p>
    </div>
</div>
<!-- Footer -->
<footer th:replace="~{fragments/footer}"></footer>
<script th:src="@{/js/playlistDashboard.js}"></script>
<script th:src="@{/js/lib/howler.core.min.js}"></script>
<script th:src="@{/js/newPlayer.js}"></script>
</body>
</html>
